@media only screen and (max-width: 1000px) {
    body {
        display: flex;
        justify-content: center;
    }

    .container {
        margin-top: 100px;
        margin-left: 30px;
    }

    .sec1 {
        border: 0.1px solid rgb(214, 214, 214);
        width: 300px;
        height: 720px;
        padding: 0 50px;
    }

    .sec1 h1 {
        font-family: cursive;
        text-align: center;
        font-size: 50px;
    }

    .sig {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
    }

    a:link,
    a:visited {
        color: white;
    }

    .log_fa img {
        width: 20px;
        height: 20px;
        border-radius: 30px;
        margin-right: 10px;
    }


    .or {
        padding: 10px 0;
        color: rgb(114, 114, 114);
        text-align: center;
    }

    .log_fa {

        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: dodgerblue;
        border-radius: 13px;
        height: 40px;
    }

    input[type=text],
    [type=password] {
        background-color: rgba(248, 248, 248, 0.993);
        padding: 6px;
        margin: 5px 0;
        border: 1px solid rgb(211, 211, 211);
        width: 290px;
        height: 25px;
    }

    input[type=button] {

        margin: 15px 10px;
        padding: 8px 117px;
        border: none;
        background-color: dodgerblue;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

    .form p {
        font-size: 15px;
        color: rgb(163, 163, 163);
    }

    .sec2 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        border: 0.1px solid rgb(214, 214, 214);
        width: 300px;
        height: 70px;
        padding: 0 50px;
        text-align: center;
    }

    .sec2 p {
        color: black;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        margin-left: 300px;
        margin-right: 300px;
    }

    .sec1 {
        border: 0.1px solid rgb(214, 214, 214);
        width: 300px;
        height: 720px;
        padding: 0 50px;
    }

    .sec1 h1 {
        font-family: cursive;
        text-align: center;
        font-size: 50px;
    }

    .sig {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 20px;
    }

    a:link,
    a:visited {
        color: white;
    }

    .log_fa img {
        width: 20px;
        height: 20px;
        border-radius: 30px;
        margin-right: 10px;
    }


    .or {
        padding: 10px 0;
        color: rgb(114, 114, 114);
        text-align: center;
    }

    .log_fa {

        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: dodgerblue;
        border-radius: 13px;
        height: 40px;
    }

    input[type=text],
    [type=password] {
        background-color: rgba(248, 248, 248, 0.993);
        padding: 6px;
        margin: 5px 0;
        border: 1px solid rgb(211, 211, 211);
        width: 290px;
        height: 25px;
    }

    input[type=button] {

        margin: 15px 10px;
        padding: 8px 117px;
        border: none;
        background-color: dodgerblue;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

    .form p {
        font-size: 15px;
        color: rgb(163, 163, 163);
    }

    .sec2 {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        border: 0.1px solid rgb(214, 214, 214);
        width: 300px;
        height: 70px;
        padding: 0 50px;
        text-align: center;
    }

    .sec2 p {
        color: black;
    }
}